<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90690713728-3clrhkcerq7jpljjhlpbmp6q84bubl7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90690713728-3clrhkcerq7jpljjhlpbmp6q84bubl7n</string>
	<key>API_KEY</key>
	<string>AIzaSyDbzMdi534Jtx3kYSjwBNygMPRaZQJtRmk</string>
	<key>GCM_SENDER_ID</key>
	<string>90690713728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myreceiptapp</string>
	<key>PROJECT_ID</key>
	<string>myreceipt-1f459</string>
	<key>STORAGE_BUCKET</key>
	<string>myreceipt-1f459.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90690713728:ios:1f449ff8392b6c219d8e65</string>
</dict>
</plist>